
<div style="display: flex; margin-top: 2rem; margin-bottom: 1rem;">
  <ion-icon name="chevron-back-outline" (click)="goPrevPage()" style="margin-left: 0.5rem; font-size:1.2rem;"></ion-icon>
  <span style="text-align: center; font-weight: bold; margin-left: 35%; ">My Profile</span>
 
</div>

<ion-content *ngIf="isLogged">

  <ion-card>
    <div style="margin-top: 1rem;">
      <img src="https://images.unsplash.com/photo-1665691288751-faa9809238e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" style=" height:7rem; width:7rem; border-radius: 80px; margin-right: 0.5rem; margin-left: 35%;">
    </div>

    <ion-item>
        <p style="font-weight: bold; margin-right: 1rem;  ">Name: </p>
        <p>{{ user.name }}</p>
    </ion-item>

    <ion-item>
      <p style="font-weight: bold; margin-right: 1rem; ">Email: </p>
      <p>{{ user.email }}</p>
    </ion-item>

    <ion-item>
      <p style="font-weight: bold; margin-right: 1rem; ">District: </p>
      <p>{{ user.district }}</p>
    </ion-item>

    <ion-item>
      <p style="font-weight: bold; margin-right: 1rem; ">Zone: </p>
      <p>{{ user.zone }}</p>
    </ion-item>

    <ion-item>
      <p style="font-weight: bold; margin-right: 1rem;  ">Address: </p>
      <p>{{ user.address }}</p>
    </ion-item>

    <ion-item>
      <p style="font-weight: bold; margin-right: 1rem; ">Contact No: </p>
      <p>{{ user.phone }}</p>
    </ion-item>





  </ion-card>
   



</ion-content>

