

ion-tab-bar{
    border-top-left-radius: 20px;
    /* background-color: red; */
    border-top-right-radius: 20px;
    padding: 5px;
    ion-icon{
        font-size: 2rem;
    }
    overflow-y: auto;
    position: relative;
    .empty{
        position: absolute;
        transform: translateY(-50%);
        top: -50%;
        height: 70px;
        opacity: 0;
    }
}
ion-fab{
    bottom: 40px;
}

.button-native{
    // box-shadow: 0px 9px 10px ;
    width: auto;
}