<app-header></app-header>

<ion-content>
  <ion-item>
    <div class="top-section" style="margin-bottom: 1rem;">
      <div class="search-group">
        <form (ngSubmit)="onSearch()" #searchForm = "ngForm">
            <input style="padding-left: 3rem; width: 18.5rem;" type="text" [(ngModel)]="searchedProduct" name="searchedProduct" placeholder="Searh product...">
            <ion-icon name="search" style="margin-left: 0.6rem;" [routerLink] = "['/search']" [queryParams] = "{'name' : searchedProduct}" (click)="onSearch()"></ion-icon>
        </form>
       
      </div>
      <ion-icon clss = "notify" name="cart-outline"   [routerLink]="['/mycart']"     style="width: 2rem; height: 2rem; margin-right: 1rem; margin-left: 0.5rem;"></ion-icon>
      <ion-badge *ngIf = "cartNum > 0" id="cart-badge">{{ cartNum  }}</ion-badge>
    </div>
  </ion-item>


  <ion-slides style="margin-bottom: 1rem;">
    <ion-slide >
      <img src="https://media.istockphoto.com/vectors/sales-background-template-design-with-flame-hot-sale-sign-vector-id999053624?s=612x612" />  
    </ion-slide>

    <ion-slide >
      <img src="https://media.istockphoto.com/photos/3d-illustration-picture-id1286310358?s=612x612"  />  
    </ion-slide>


  </ion-slides>
    

  <ion-item no-padding no-margin>
     <ion-title>Catagories</ion-title>
  </ion-item>

  <div class="category" style="margin-top:0.2rem; padding:0.5rem;">
    <button class="btn" [ngClass] = "{active: cls['all'] }" (click) = "filter('all')">All</button>
    <button class="btn" [ngClass] = "{active: cls['Smartphone'] }" (click) = "filter('Smartphone')">Phone</button>
    <button class="btn" [ngClass] = "{active: cls['Perfume']}" (click) = "filter('Perfume')">Perfume</button>
    <button class="btn" [ngClass] = "{active: cls['Cloth']}" (click) = "filter('Cloth')">Cloth</button>
    <button class="btn" [ngClass] = "{active: cls['Watch']}" (click) = "filter('Watch')">Watch</button>
  </div>

  <!-- products section -->
   <ion-grid style="margin-left: 0.5rem;">
    <ion-row>
      <ng-container *ngFor = "let product of allProducts">
        <ion-col  size = "6" [routerLink] = "['/details']" [queryParams] = "{'id' : product._id}">
          <img class="card-img" [src] = "product.imageURL" style="height: 10rem; width: 10rem;">
          <h5 style="margin-bottom: 0.1rem;"> {{ product.name }} </h5>
          <div style="display: flex;">
            <h5 style="color: crimson;"> ${{ product.unitPrice }}</h5>
         
          </div>
          
        </ion-col>
      </ng-container>
    </ion-row>
   </ion-grid>
  <!-- products section ends -->
  </ion-content>