<app-header></app-header>

<ion-content>
  <ion-item>
    <div class="top-section">
      <div class="search-group">
        <input type="text" name="" id="" placeholder="searh all products...">
        <ion-icon name="search"></ion-icon>
      </div>
      <ion-icon class="notify" name="notifications-outline"></ion-icon>
    </div>
  </ion-item>

  <ion-item>
    <div class="banner">
      <img src="https://st10.cannypic.com/thumbs/35/353669_632_canny_pic.jpg" alt="">
    </div>
  </ion-item>

  <ion-item>
    <ion-title>Categories</ion-title>
  </ion-item>

  <div class="category">
    <button class="btn" [ngClass] = "{active: cls['all'] === true}" (click) = "filter('all')">All</button>
    <button class="btn" [ngClass] = "{active: cls['food']}" (click) = "filter('food')">Food</button>
    <button class="btn" [ngClass] = "{active: cls['drink']}" (click) = "filter('drink')">Drink</button>
  </div>

  <!-- products section -->
   <ion-grid>
    <ion-row>
      <ng-container *ngFor = "let product of products">
        <ion-col size = "6" [routerLink] = "['/details']" [queryParams] = "{'id' : product.id}">
          <img class="card-img" [src] = "product.img">
          <h5> {{ product.name }} </h5>
          <h4 style="color: crimson;"> ${{ product.price }}</h4>
        </ion-col>
      </ng-container>
    </ion-row>
   </ion-grid>
  <!-- products section ends -->
  </ion-content>