

.top-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: 10px 0px;
  align-items: center;

  .search-group {
    position: relative;
    ion-icon {
      position: absolute;
      font-size: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  .notify {
    font-size: 2rem;
    color: darkgrey;
    margin-left: 20px;
    background-color: #f7f8f7;
    border-radius: 10px;
    padding: 10px 10px;
  }

  input {
    width: 260px;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #f7f8fb;

    &:focus {
      outline: 2px orange;
    }
  }
}
.banner {
  padding: 20px;

  img {
    border-radius: 20px;
  }
}

.category {
  position: sticky;
  top:0px;
  z-index: 10;;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar{
    width: 0px;
  }
  .btn{
    width: 80px;
    height: 50px;
    margin: 3px 5px;
    font-size: 1rem;
    border-radius: 20px;
  }
  .btn.active{
    background-color: #e21b7063;
  }

}
.card-img{
  border-radius: 10px;
}



#cart-badge {
  position: absolute;
  top: 22px;
  right: 12px;
}

