<app-header></app-header>

<ion-content>
  <ion-item>
    <div class="top-section" style="margin-bottom: 1rem;">
      <div class="search-group">
        <form (ngSubmit)="onSearch()" #searchForm = "ngForm">
            <input style="padding-left: 2rem; width: 19rem;" type="text" [(ngModel)]="searchedProduct" name="searchedProduct" placeholder="Searh product...">
            <ion-icon name="search"  [routerLink] = "['/search']" [queryParams] = "{'name' : searchedProduct}" (click)="onSearch()"></ion-icon>
        </form>
       
      </div>
      <ion-icon clss = "notify" name="cart-outline" style="width: 1.5rem; height: 1.5rem; margin-right: 1rem; margin-left: 0.5rem;"></ion-icon>
    </div>
  </ion-item>


    <div style="margin-bottom: 1rem;">
      <img src="https://image.shutterstock.com/shutterstock/photos/1934081501/display_1500/stock-photo-weekend-super-sale-shopping-template-1934081501.jpg" alt="">
    </div>


  <ion-item no-padding no-margin>
     <ion-title>Catagories</ion-title>
  </ion-item>

  <div class="category" style="margin-top:1rem; padding:0.5rem;">
    <button class="btn" [ngClass] = "{active: cls['Smartphone'] }" (click) = "filter('Smartphone')">Phone</button>
    <button class="btn" [ngClass] = "{active: cls['Perfume']}" (click) = "filter('Perfume')">Perfume</button>
    <button class="btn" [ngClass] = "{active: cls['Cloth']}" (click) = "filter('Cloth')">Cloth</button>
    <button class="btn" [ngClass] = "{active: cls['Watch']}" (click) = "filter('Watch')">Watch</button>
  </div>

  <!-- products section -->
   <ion-grid style="margin-left: 0.5rem;">
    <ion-row>
      <ng-container *ngFor = "let product of allProducts">
        <ion-col  size = "6" [routerLink] = "['/details']" [queryParams] = "{'id' : product._id}">
          <img class="card-img" [src] = "product.imageURL" style="height: 10rem; width: 10rem;">
          <h5 style="margin-bottom: 0.1rem;"> {{ product.name }} </h5>
          <h6 style="color: crimson;"> ${{ product.unitPrice }}</h6>
        </ion-col>
      </ng-container>
    </ion-row>
   </ion-grid>
  <!-- products section ends -->
  </ion-content>