
<div style="display: flex; margin-top: 2rem; justify-content: space-between; padding-bottom: 1rem;">
  <ion-icon name="chevron-back-outline" (click)="goPrevPage()"></ion-icon>
  <span style="text-align: center; font-size:medium;">Checkout</span>
  <span slot="end" style="margin-top: -12px;">
    <img src="https://images.unsplash.com/photo-1665691288751-faa9809238e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" style=" height:2.2rem; width:2.2rem; border-radius: 20px; margin-right: 0.5rem;">
   </span>
</div>


<ion-content style="margin-top: 2rem;">

    <div class="login-section ion-padding">
        <div class="heading ion-padding">
          
        
        </div>

        <div style="display: flex;">
             <img src="https://i.imgur.com/WIAP9Ku.jpg" style="width: 6rem; height:3rem;">
             <img src="https://i.imgur.com/OdxcctP.jpg" style="width: 6rem; height:3rem;">
             <img src="https://i.imgur.com/cMk1MtK.jpg" style="width: 6rem; height:3rem;">
        </div>


        <form (ngSubmit)="onCheckout()" #logForm = "ngForm">
            <div class="form-input">
               
                <ion-item>
                    <ion-label position="floating">
                        Card Name
                    </ion-label>
                    <ion-input  placeholder="Enter Card Name" [(ngModel)]="cardName" name="cardName" #email="ngModel"  email="true" required></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
               
                <ion-item>
                    <ion-label position="floating">
                       Card Number
                    </ion-label>
                    <ion-input type = "number" placeholder="Enter Card Number" [(ngModel)]="cardNumber" name="cardNumber" #password="ngModel"   required></ion-input>
                </ion-item>
            </div>
            <div class="action-button ion-padding">
                <ion-button type = "submit"  class="login-button">Confirm Order</ion-button>
                
            </div>
        </form>

       
    </div>
</ion-content>