
<div style="display: flex; margin-top: 2rem; justify-content: space-between; padding-bottom: 1rem;">
  <ion-icon name="chevron-back-outline" (click)="goPrevPage()"></ion-icon>
  <span style="text-align: center; font-size:medium; font-weight: bold;">Checkout</span>
  <span slot="end" style="margin-top: -12px;">
    <img src="https://images.unsplash.com/photo-1665691288751-faa9809238e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" style=" height:2.2rem; width:2.2rem; border-radius: 20px; margin-right: 0.5rem;">
   </span>
</div>


<ion-content style="margin-top: 1rem; overflow-y: auto;">

    <div class="login-section">
        <div class="heading">   
                <img 
                  style="margin: 0; width:100%; height: 10rem;"
                src="https://img.freepik.com/free-vector/realistic-debit-card-mockup_23-2149241920.jpg?w=740&t=st=1666091881~exp=1666092481~hmac=73c1c52281df261b7ae4bcfa429d57cde9cfa60dd82246a48741abf50bd5d82c">
        </div>



        <form (ngSubmit)="onCheckout()" #logForm = "ngForm">
            <div class="form-input">
               
                <ion-item>
                    <ion-label position="floating">
                        Card Name
                    </ion-label>
                    <ion-input  type="text" placeholder="Enter Card Name"  name="cardName" [(ngModel)]="user.email"  #cName="ngModel"  required></ion-input>
                </ion-item>

                <div *ngIf="cName.invalid && (cName.dirty || cName.touched)"
                class="alert">

                                    <div *ngIf="cName.errors?.['required']" style="color:red;margin-bottom: 0.5rem; margin-left: 0.5rem;">
                                        <p>*Card Name is required.</p>
                                    </div>
                  </div>
            </div>
            <div class="form-input">
               
                <ion-item>
                    <ion-label position="floating">
                       Card Number
                    </ion-label>
                    <ion-input type = "number" placeholder="Enter Card Number" [(ngModel)]="user.password" name="cardNumber" #cardNumber="ngModel"   required></ion-input>
                </ion-item>

                <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                class="alert">

                                    <div *ngIf="cardNumber.errors?.['required']" style="color:red;margin-bottom: 0.5rem; margin-left: 0.5rem;">
                                        <p>*Card Number is required.</p>
                                    </div>
                  </div>


            </div>
            <div class="action-button ion-padding" style="margin-left: 6rem; width:auto;">
                <ion-button  *ngIf="logForm.valid" type = "submit" size="large" class="login-button">Submit</ion-button> 
            </div>

            <div class="action-button ion-padding" style="margin-left: 6rem; width:auto;">
                <ion-button type = "submit"  *ngIf="!logForm.valid" size="large" [disabled]="true"  class="login-button">Submit</ion-button> 
            </div>
        </form>

       
    </div>
</ion-content>