<div style="display: flex; margin-top: 2rem; justify-content: space-between;">
  <ion-icon name="chevron-back-outline" (click)="goPrevPage()" style="margin-left: 0.5rem; font-size:1.2rem;"></ion-icon>
  <span style="text-align: center; font-size:medium; font-weight: bold;">My Order</span>
  <span slot="end" style="margin-top: -10px;">
    <img src="https://images.unsplash.com/photo-1665691288751-faa9809238e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" style=" height:2.2rem; width:2.2rem; border-radius: 20px; margin-right: 0.5rem;">
   </span>

</div>

<ion-content>
    <ion-card *ngFor="let order of orders" style="flex-direction: column;">
         <div style="display: flex;">
             <h6 style="font-weight: bold; margin-left: 1rem;">Order Date:</h6>
             <p style="margin-top:1.2rem; margin-left:0.5rem;">{{order.createdAt | date}}</p>
         </div>

         <div style="display: flex;">
            <h6 style="font-weight: bold; margin-left: 1rem;">Total Bill:</h6>
            <p style="margin-top:1.2rem; margin-left:0.5rem;">{{order.grandTotal}}</p>
         </div>

         <div style="display: flex;">
          <h6 style="font-weight: bold; margin-left: 1rem;">Order Status:</h6>
          <p style="margin-top:1.2rem; margin-left:0.5rem; color: red;">{{order.status}}</p>
         </div>

         <ion-button style="width: 40%; margin-left:5rem; height: 2rem; margin-bottom: 1rem;">
              View Details
         </ion-button>

    </ion-card>

</ion-content>