<div style="display: flex; margin-top: 2rem; justify-content: space-between;">
  <ion-icon name="chevron-back-outline" (click)="goPrevPage()" style="margin-left: 0.5rem; font-size:1.2rem;"></ion-icon>
  <span style="text-align: center; font-size:medium; font-weight: bold;">My Order</span>
  <span slot="end" style="margin-top: -10px;">
    <img src="https://images.unsplash.com/photo-1665691288751-faa9809238e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" style=" height:2.2rem; width:2.2rem; border-radius: 20px; margin-right: 0.5rem;">
   </span>

</div>

<ion-content>
  <ng-container id="main-display" *ngIf="orderProducts.length > 0">
    <div *ngFor="let order of orders" class="order-item">    
                    <ng-container *ngFor = "let op of orderProducts">
                      <ion-card *ngIf = "op.orderID == order._id" style="margin: 0px;">
                        <div  style="margin-top: 1rem;">
                          <img [src]="op.imageURL" style="width: 6rem; height: 6rem; margin-top: -1rem;">
                        </div>
                      

                        <div style="margin-left: 2rem; width: 10rem;" *ngIf = "op.orderID == order._id">
                          <h6 style="font-weight: bold;">{{  op.name }}</h6>
                          <p style="font-size: small;">size: 760fl/225ml</p>
                          <h6 style="font-weight: bold;">${{  op.subtotal }}</h6>
                        </div>

                        <div style="display: flex; margin-left: 5rem;" *ngIf = "op.orderID == order._id">
                          <ion-icon name="close-outline" style="width: 2rem; width: 2rem; margin-top:1rem; font-weight: bolder;"></ion-icon>
                            <div style="font-size: 2rem; margin-top: 1rem; margin-right: 1rem;">  {{op.quantity}} </div> 
                        </div>
                    </ion-card>

                    <ion-item class="d-flx" >
                      <h6>Total:</h6>
                      <div style="margin-left: 13.5rem;">${{ order.grandTotal  }}</div>
                  </ion-item>

                  <ion-item class="d-flx">
                      <h6>Status:</h6>
                      <div style="margin-left: 12rem; color: red;">Pending</div>
                  </ion-item>


                  </ng-container>

                 
    </div>    
</ng-container>      
   
<ng-container  *ngIf="orderProducts.length == 0">
  <h1 style="text-align: center; margin-top: 4rem; color:rgb(234, 13, 13);">No Order Items!</h1>
</ng-container>

</ion-content>



