#bag-icon{
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    margin-right: 1rem;
    border-radius: 4px;
}

ion-card{
    display: flex;
   
}

.icon-btn{
    width: 1.5rem;
    height: 1.5rem;
}

#promo-code{
    margin-left: 1rem;
    width: 90%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.d-flx{
    display: flex;
    justify-content: space-between;
}

#cart-badge {
    position: absolute;
    top: 22px;
    right: 6px;
 }