#bag-icon{
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    margin-right: 1rem;
    border-radius: 4px;
}

ion-card{
    display: flex;
   
}

.icon-btn{
    width: 1.5rem;
    height: 1.5rem;
}