<ion-content>

    <div class="login-section ">
        <div class="heading ion-padding">
          
            <ion-icon name="chevron-back-outline" slot="start" (click)="goPrevPage()"></ion-icon>    
            <span style="margin-left: 6.5rem; font-size:1.5rem; font-weight: bold; color:rgb(104, 104, 195);">Sign IN</span>
        </div>    

        <form (ngSubmit)="onLogin()" #logForm = "ngForm">
            <div class="form-input">
                <ion-item>
                    <ion-label position="floating">
                        Email
                    </ion-label>
                    <ion-input  #userEmail placeholder="Enter Email" [(ngModel)]="user.email" name="email" #email="ngModel" [email]="true" required></ion-input>
                </ion-item>

                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="alert">

                    <div *ngIf="email.errors?.['required']" style="color:red;margin-bottom: 0.5rem; margin-left: 0.5rem;">
                        <p>*Email is required.</p>
                    </div>

                    <div *ngIf="email.errors?.['email']" style="color:red;margin-bottom: 0.5rem; margin-left: 0.5rem;" >
                        *Email address is not valid. 
                    </div>

                </div>
            </div>
            <div class="form-input">
                <ion-item>
                    <ion-label position="floating">
                        Password
                    </ion-label>
                    <ion-input  #userPass  type="password" placeholder="Enter Password" [(ngModel)]="user.password" name="password" #pass="ngModel"   required></ion-input>
                </ion-item>

                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                        class="alert">

                    <div *ngIf="pass.errors?.['required']" style="color:red;margin-bottom: 0.5rem; margin-left: 0.5rem;">
                        <p>*Password is required.</p>
                    </div>
                </div>

            </div>

            <div *ngIf="email.valid && pass.valid &&  failedLogin" style="color:red;margin-bottom: 0.5rem; margin-left: 0.5rem; margin-top: 0.5rem;">
                *Wrong credentials     
          </div>

            <div class="action-button ion-padding" style="margin-left: 6rem; width:auto;">
                <ion-button  *ngIf="logForm.valid" type = "submit" size="large" class="login-button">Sign In</ion-button> 
            </div>

            <div class="action-button ion-padding" style="margin-left: 6rem; width:auto;">
                <ion-button type = "submit"  *ngIf="!logForm.valid" size="large" [disabled]="true"  class="login-button">Sign In</ion-button> 
            </div>
        </form>

      
   </div>
</ion-content>