

<ion-content>

    <div class="login-section ion-padding">
        <div class="heading ion-padding">
          
        <p>Sign in to Continue</p>
        </div>

        <form (ngSubmit)="onLogin()" #logForm = "ngForm">
            <div class="form-input">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">
                        Email
                    </ion-label>
                    <ion-input  placeholder="Enter Email" [(ngModel)]="user.email" name="email" #email="ngModel"  email="true" required></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">
                        Password
                    </ion-label>
                    <ion-input placeholder="Enter Password" [(ngModel)]="user.password" name="password" #password="ngModel"   required></ion-input>
                </ion-item>
            </div>
            <div class="action-button ion-padding">
                <ion-button type = "submit" size="large" class="login-button">Log in</ion-button>
                
            </div>
        </form>

        <ion-button class="signup-button" size="large" fill="outline" (click) = "goto()">Sign Up</ion-button>
    </div>
</ion-content>